USE [Credit]
GO
/****** Object:  Table [dbo].[INPUT]    Script Date: 26/06/2022 22:03:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INPUT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VALUE] [money] NULL,
	[CLIENTSECTOR] [int] NULL,
 CONSTRAINT [PK_INPUT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INPUT]  WITH CHECK ADD  CONSTRAINT [FK_INPUT_INPUT] FOREIGN KEY([CLIENTSECTOR])
REFERENCES [dbo].[SECTOR] ([ID])
GO
ALTER TABLE [dbo].[INPUT] CHECK CONSTRAINT [FK_INPUT_INPUT]
GO
